{% extends "layout/layout.html" %}
{% block title %}Сайты{% endblock %}
{% block page %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
            </thead>
            <tbody>
            {% for url_data in urls %}
                <tr>
                    <td>{{ url_data.id }}</td>
                    <td>
                        <a href="{{ url_for("show_url_by_id", url_id = url_data.id) }}">
                            {{ url_data.url_name }}
                        </a>
                    </td>
                    {% if url_data.latest_check_date %}
                        <td>{{ url_data.latest_check_date }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if url_data.status_code %}
                        <td>{{ url_data.status_code }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}